# Preparation for homework

In [1]:
import pandas as pd
pd.__version__

'1.5.2'

So first things first is to read the csv into pandas

In [2]:
taxi_data = pd.read_csv("data_in/green_tripdata_2019-01.csv")
taxi_data.head()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2018-12-21 15:17:29,2018-12-21 15:18:57,N,1,264,264,5,0.00,3.0,0.5,0.5,0.00,0.0,NaN,0.3,4.30,2,1,NaN
1,2,2019-01-01 00:10:16,2019-01-01 00:16:32,N,1,97,49,2,0.86,6.0,0.5,0.5,0.00,0.0,NaN,0.3,7.30,2,1,NaN
2,2,2019-01-01 00:27:11,2019-01-01 00:31:38,N,1,49,189,2,0.66,4.5,0.5,0.5,0.00,0.0,NaN,0.3,5.80,1,1,NaN
3,2,2019-01-01 00:46:20,2019-01-01 01:04:54,N,1,189,17,2,2.68,13.5,0.5,0.5,2.96,0.0,NaN,0.3,19.71,1,1,NaN
4,2,2019-01-01 00:19:06,2019-01-01 00:39:43,N,1,82,258,1,4.53,18.0,0.5,0.5,0.00,0.0,NaN,0.3,19.30,2,1,NaN

In [8]:
taxi_data.describe()

,VendorID,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
count,630918.000000,630918.000000,630918.000000,630918.000000,630918.000000,630918.000000,630918.000000,630918.000000,630918.000000,630918.000000,630918.000000,0.0,630918.000000,630918.000000,630918.000000,630918.000000,84538.000000
mean,1.851513,1.331461,109.731544,129.135265,1.318214,3.438878,13.886844,0.299197,0.487651,0.864308,0.238420,NaN,0.272835,16.073151,1.394243,1.081477,0.000033
std,0.355582,1.099408,72.824598,76.854829,0.993958,4.044746,11.971032,0.396901,0.089545,1.681640,1.224454,NaN,0.090102,12.845226,0.512554,0.273566,0.009458
min,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,-120.000000,-4.500000,-0.500000,-10.560000,-5.760000,NaN,-0.300000,-120.000000,1.000000,1.000000,0.000000
25%,2.000000,1.000000,52.000000,62.000000,1.000000,1.050000,6.500000,0.000000,0.500000,0.000000,0.000000,NaN,0.300000,8.300000,1.000000,1.000000,0.000000
50%,2.000000,1.000000,82.000000,129.000000,1.000000,1.960000,10.000000,0.000000,0.500000,0.000000,0.000000,NaN,0.300000,11.800000,1.000000,1.000000,0.000000
75%,2.000000,1.000000,166.000000,193.000000,1.000000,4.080000,17.000000,0.500000,0.500000,1.460000,0.000000,NaN,0.300000,18.960000,2.000000,1.000000,0.000000
max,2.000000,6.000000,265.000000,265.000000,9.000000,117.990000,400.000000,4.500000,3.800000,100.000000,95.760000,NaN,0.300000,400.000000,5.000000,2.000000,2.750000

Now we can build out a create table schema using `pd.io.sql.get_schema`

In [3]:
print(pd.io.sql.get_schema(taxi_data, name= "green_tripdata"))

CREATE TABLE "green_tripdata" (
"VendorID" INTEGER,
  "lpep_pickup_datetime" TEXT,
  "lpep_dropoff_datetime" TEXT,
  "store_and_fwd_flag" TEXT,
  "RatecodeID" INTEGER,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "passenger_count" INTEGER,
  "trip_distance" REAL,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "ehail_fee" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "payment_type" INTEGER,
  "trip_type" INTEGER,
  "congestion_surcharge" REAL
)

As you can see there's some datetime fields that are being flagged up as `TEXT` this is a simple update...

In [4]:
taxi_data['lpep_pickup_datetime'] = pd.to_datetime(taxi_data['lpep_pickup_datetime'])
taxi_data['lpep_dropoff_datetime'] = pd.to_datetime(taxi_data['lpep_dropoff_datetime'])
print(pd.io.sql.get_schema(taxi_data, name= "green_tripdata"))

CREATE TABLE "green_tripdata" (
"VendorID" INTEGER,
  "lpep_pickup_datetime" TIMESTAMP,
  "lpep_dropoff_datetime" TIMESTAMP,
  "store_and_fwd_flag" TEXT,
  "RatecodeID" INTEGER,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "passenger_count" INTEGER,
  "trip_distance" REAL,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "ehail_fee" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "payment_type" INTEGER,
  "trip_type" INTEGER,
  "congestion_surcharge" REAL
)

Now to load data into our Postgres Instance, for this we'll be using sqlalchemy (as this is what the DE Zoomcamp is using). I would personally use something more lightweight but this is for the course.

In [6]:
from sqlalchemy import create_engine
engine = create_engine('postgresql://nik:nik@localhost:5432/ny_taxi')
engine.connect()

In [7]:
# Now we can format the create statement to the engine
print(pd.io.sql.get_schema(taxi_data, name= "green_tripdata", con=engine))

CREATE TABLE green_tripdata (
	"VendorID" BIGINT,
	lpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	lpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	store_and_fwd_flag TEXT,
	"RatecodeID" BIGINT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	ehail_fee FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	payment_type BIGINT,
	trip_type BIGINT,
	congestion_surcharge FLOAT(53)
)

Now we should split up the csv a bit instead of one big dataframe to allow for smoother loading, let's say about 50,000 rows per

In [19]:
taxi_data_iter = pd.read_csv('data_in/green_tripdata_2019-01.csv', iterator=True, chunksize=50000)

And now to load...

In [20]:
from time import time

In [21]:
taxi_data.head(n=0).to_sql(name="green_tripdata", con=engine, if_exists="replace")

while True:

    t_start = time()

    chunk = next(taxi_data_iter)
    chunk['lpep_pickup_datetime'] = pd.to_datetime(chunk['lpep_pickup_datetime'])
    chunk['lpep_dropoff_datetime'] = pd.to_datetime(chunk['lpep_dropoff_datetime'])

    chunk.to_sql(name="green_tripdata", con=engine, if_exists="append")

    t_end = time()
    t_diff = t_end - t_start

    print(f"Chunk loaded ... took {t_diff:.3f} seconds")

Chunk loaded ... took 3.328 seconds
Chunk loaded ... took 3.186 seconds
Chunk loaded ... took 3.222 seconds
Chunk loaded ... took 3.184 seconds
Chunk loaded ... took 3.187 seconds
Chunk loaded ... took 3.170 seconds
Chunk loaded ... took 3.190 seconds
Chunk loaded ... took 3.171 seconds
Chunk loaded ... took 3.211 seconds
Chunk loaded ... took 3.309 seconds
Chunk loaded ... took 3.306 seconds
Chunk loaded ... took 3.332 seconds
Chunk loaded ... took 2.215 seconds

StopIteration:

So we have an error, but that's because we got to the end of the iterator. As this is a quick and easy kind of thing it really doesn't matter that this isn't 100% bulletproof, the data is in and that's that

Now to do the lookup data...

In [22]:
taxi_lookup = pd.read_csv("data_in/taxi+_zone_lookup.csv")

In [ ]:
taxi_lookup.head()

In [ ]:
taxi_lookup.describe()

As there's only 250 odd rows in here, and no awkward datatypes, we can just shove it into the database

In [ ]:
taxi_lookup.to_sql(name="taxi_zone_lookup", con=engine, if_exists="replace")

# Homework Time

I'll be running the sql queries through pandas, just to keep it all in one notebook

--------------------------

## Question One

How many taxi trips were totally made on January 15?

In [26]:
query = """
SELECT count(*)
FROM green_tripdata
WHERE lpep_pickup_datetime::DATE = '20190115'
    AND lpep_dropoff_datetime::DATE = '20190115'
"""

pd.read_sql(query, con=engine)

   count
0  20530

## Question 2

Which was the day with the largest trip distance Use the pick up time for your calculations.

In [28]:
query = """
SELECT lpep_pickup_datetime::DATE
FROM green_tripdata
ORDER BY trip_distance DESC
LIMIT 1
"""

pd.read_sql(query, con=engine)

  lpep_pickup_datetime
0           2019-01-15

## Question 3

In 2019-01-01 how many trips had 2 and 3 passengers?

In [29]:
query = """
SELECT passenger_count, count(*) AS number_of_trips
FROM green_tripdata
WHERE lpep_pickup_datetime::DATE = '20190101'
    AND passenger_count BETWEEN 2 AND 3
GROUP BY passenger_count
"""

pd.read_sql(query, con=engine)

   passenger_count  number_of_trips
0                2             1282
1                3              254

## Question 4

For the passengers picked up in the Astoria Zone which was the drop up zone that had the largest tip? We want the name of the zone, not the id.

In [30]:
query = """
SELECT trips.index, pickup_zones."Zone", dropoff_zones."Zone", trips.tip_amount
FROM green_tripdata AS trips
    INNER JOIN taxi_zone_lookup AS pickup_zones
        ON trips."PULocationID" = pickup_zones."LocationID"
    INNER JOIN taxi_zone_lookup AS dropoff_zones
        ON trips."DOLocationID" = dropoff_zones."LocationID"
WHERE pickup_zones."Zone" = 'Astoria'
ORDER BY trips.tip_amount desc
LIMIT 1
"""

pd.read_sql(query, con=engine)

    index     Zone                           Zone  tip_amount
0  506162  Astoria  Long Island City/Queens Plaza        88.0